/* =keyframes public- */
@keyframes shake{
	0%{transform:skew(10deg,-5deg);}
	100%{transform:skew(-10deg,5deg);}
}
@keyframes xshake{
	0%{transform:translateX(10px);}
	20%{transform:translateX(-10px);}
	40%{transform:translateX(5px);}
	60%{transform:translateX(-5px);}
	80%{transform:translateX(2px);}
	90%{transform:translateX(-2px);}
	100%{transform:translateX(0);}
}
@keyframes scale{
	0%{transform:scale(0);}
	40%{transform:scale(1.3);}
	50%{transform:scale(.7);}
	60%{transform:scale(1.1);}
	70%{transform:scale(.9);}
	100%{transform:scale(1);}
}
@keyframes rotate{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}