---
layout: default
headtitle: 懒蛇的实验室
---

<header>
	{% include header.html %}
</header>
<section class="section-box">
	<div class="tag-box fl">
		{% for tag in site.tags %}
		<a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
		{% endfor %}
	</div>
	<div class="article-lis-box clearfix">
		<div class="article-lis">
			<ul>
				{% for post in site.posts %}
				<li>
					<p class="labimg"><a href="{{ post.url }}"><img src="/demo/{{ post.pic }}" alt="{{ post.title }}" /></a></p>
					<p class="labtit"><a href="{{ post.url }}">{{ post.title }}</a></p>
					<p class="by">by： <a href="{{ post.blogurl }}" target="_blank">{{ post.author }}</a></p>
					<p class="tags">
						{% for tag in post.tags %}
						<a href="/tags/#{{ tag }}">{{ tag }}</a>
						{% endfor %}
					</p>
					<p class="adap">{{ post.adaptive }}</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
{% include footer.html %}
<div class="open-door" style="display:none;">
	<div class="od-head">
		<div class="od-lis">
			<div class="mypic"><i></i></div>
			<div class="chrome">
				<div class="chrome-ico">
					<i class="chrome-red"></i>
					<i class="chrome-red-1"></i>
					<i class="chrome-yellow"></i>
					<i class="chrome-green"></i>
					<i class="chrome-inset"></i>
				</div>
			</div>
			<div class="odtext">Labs</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function (){
	// 动画元素转场类
	webql.animateEle = {
			"ods":"open-door-show"      // class 类名 open-door-show
			,"odh":"open-door-hide"     // class 类名 open-door-hide
			,"anis":"animate-show"      // class 类名 animate-show
			,"mps":"mypic-show"         // class 类名 mypic-show
			,"mpx":"mypic-X"            // class 类名 mypic-X
			,"mpy":"mypic-Y"            // class 类名 mypic-Y
			,"chrs":"chrome-show"       // class 类名 chrome-show
			,"chrr":"chrome-rotate"     // class 类名 chrome-rotate
			,"chrm":"chrome-move"       // class 类名 chrome-move
			,"odts":"odtext-show"       // class 类名 odtext-show
		};
	// 动画元素初始化
	webql.animateLib = {
			$header:$("header")
			,$openDoor:$(".open-door")
			,$mypic:$(".mypic")
			,$chrome:$(".chrome")
			,$chromeIco:$(".chrome-ico")
			,$odtext:$(".odtext")
		};
	// 动画执行方法
	webql.animateFun = {
			openDoorShow:function (){
				webql.tabClass(webql.animateLib.$openDoor, webql.animateEle.ods);
			},
			openDoorHide:function (){
				webql.tabClass(webql.animateLib.$openDoor, webql.animateEle.odh);
			},
			headerFn:function (){
				webql.tabClass(webql.animateLib.$header, webql.animateEle.anis);
			},
			mypicShow:function (){
				webql.tabClass(webql.animateLib.$mypic, webql.animateEle.mps);
			},
			chromeShow:function (){
				webql.tabClass(webql.animateLib.$chrome, webql.animateEle.chrs);
				webql.tabClass(webql.animateLib.$mypic, webql.animateEle.mpx);
				webql.tabClass(webql.animateLib.$odtext, webql.animateEle.odts);
			},
			chromeRotate:function (){
				webql.tabClass(webql.animateLib.$chromeIco, webql.animateEle.chrr);
			},
			chromeMove:function (){
				webql.tabClass(webql.animateLib.$chrome, webql.animateEle.chrm);
				webql.tabClass(webql.animateLib.$mypic, webql.animateEle.mpy);
			}
		};
	// 动画队列管理
	webql.moveQueue = [
			{"fn":webql.animateFun.mypicShow,"time":300},
			{"fn":webql.animateFun.chromeShow,"time":2000},
			{"fn":webql.animateFun.chromeRotate,"time":3000},
			{"fn":webql.animateFun.chromeMove,"time":3500},
			{"fn":webql.animateFun.openDoorShow,"time":4500},
			{"fn":webql.animateFun.openDoorHide,"time":4800},
			{"fn":webql.animateFun.headerFn,"time":4800}
		];
	webql.animateMove(webql.moveQueue);
});
</script>
