<footer>
	
</footer>
<!-- duoshuo start -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"snakelab"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- duoshuo end -->
<script src="/js/prefixfree.min.js" type="text/javascript"></script>
<script src="/js/zepto.min.js" type="text/javascript"></script>