<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ page.headtitle }}{% endif %}</title>
	<link rel="icon" href="/wendell.ico"type="image/x-icon"/>
	<link rel="stylesheet" href="/css/animate-keyframes.css" type="text/css" />
	<link rel="stylesheet" href="/css/pygments.css" type="text/css" />
	<link rel="stylesheet" href="/css/lab-style.css" type="text/css" />
</head>