<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ page.headtitle }}{% endif %}</title>
	<link rel="icon" href="/wendell.ico"type="image/x-icon"/>
	<link rel="stylesheet" href="/css/animate-keyframes.css" type="text/css" />
	<link rel="stylesheet" href="/css/pygments.css" type="text/css" />
	<link rel="stylesheet" href="/css/lab-style.css" type="text/css" />
</head>