<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="icon" href="/wendell.ico"type="image/x-icon" />
	<link rel="stylesheet" href="/css/animate-keyframes.css" type="text/css" />
	<link rel="stylesheet" href="/css/lab-style.css" type="text/css" />
</head>
<body>
	<header class="animate-show">
		{% include header.html %}
	</header>
	<section class="section-box">
		<div class="sidebar fl">
			<div class="labpic"><img src="/demo/{{ page.pic }}" alt="{{ page.title }}"></div>
			<div class="labtest">实验环境：{{ page.adaptive }}</div>
			<div class="labintro">
				<label for="">交流：</label>
				<!-- duoshuo start -->
				<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
				<!-- duoshuo end -->
			</div>
			<!-- <div class="share-box"></div> -->
		</div>
		<article class="article-cont-box">
			<h2 class="article-h2">{{ page.title }}</h2>
			<div class="article-mess">
				<p class="lab-author">作者：<a href="{{ page.blogurl }}" target="_blank">{{ page.author }}</a></p>
				<p class="lab-by">发布时间：{{ page.date | date_to_string }}</p>
				<p>遵循知识共享许可协议 <a style="display:inline-block;vertical-align:middle;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"><img src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" alt="知识共享许可协议" /></a></p>
			</div>
			<div class="article-button">
				<span><a href="/demo/{{ page.demourl }}" target="_blank">开启实验</a></span>
			</div>
			<div class="labintro">
				<label for="">技术要点：</label>
				{{ content }}
			</div>
			<div class="labintro">
				<label for="">运用技术：</label>
				<!-- <p>{{ page.skill }}</p> -->
				<p>
					{% for lis in page.skill %}
						{{ lis }}
					{% endfor %}
				</p>
			</div>
			<div class="labintro">
				<label for="">标签：</label>
				<p>
					{% for item in page.tags %}
					<a href="/index.html?tag={{item}}">{{ item }}</a>
					{% endfor %}
				</p>
			</div>
		</article>
	</section>
	{% include footer.html %}
	<!-- duoshuo start -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"webql"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- duoshuo end -->
</body>
</html>